<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.1.xsd">

<!--  引入数据库配置文件 -->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    
<!--  配置数据源  阿里达鲁伊  -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
    destroy-method="close" scope="singleton">
        <property name="driverClassName" value="${jdbc_driver}"></property>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/bestone"></property>
        <property name="username" value="${jdbc_username}"></property>
        <property name="password" value="${jdbc_password}"></property>
    </bean>
    
    <!--  配置会话工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>      
    </bean>  
    
    <!--  配置dao  mapperInterface -->
   <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
       <!-- 给出需要扫描Dao接口包 -->
        <property name="mapperInterface" value="com.bestone.dao.UserDao"/>
       <!-- 注入sqlSessionFactory -->
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="ArticleDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.bestone.dao.ArticleDao"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    
</beans> 