<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- "https://www.mybatis.org/dtd/mybatis-3-config.dtd" -->

<configuration>
    
<!-- 实体映射 -->
	<typeAliases>
	   <package name="com.bestone.model" />
	</typeAliases>
	
<!-- mapper映射 -->	
	<mappers>
		<mapper resource="com/bestone/mapper/userMapper.xml" />
		<mapper resource="com/bestone/mapper/articleMapper.xml" />

	</mappers>


</configuration>
